body{
  font-family: "ツルコズ", "ゴシック１", "コンデンス", "源ノ角ゴシック Regular", "メイリオ" !important;
}

p.tweet-text{
  font-family: "ツルコズ",  "ゴシック１", "コンデンス", "源ノ角ゴシック Regular", "メイリオ" !important;
  font-size:larger;
}

@font-face{
  font-family: "ツルコズ";
  src: local("TBかなバンク-ツルコズ Std M");
  unicode-range: U+3000-3002, U+3008-3011, U+3013-3019, U+3031-3032, U+3037, U+303C-3094, U+3099-30FE, U+FF01, U+FF03-06, U+FF08-FF1B, U+FF1D, U+FF1F-FF3B, U+FF3D, U+FF3F, U+FF41-FF5B, U+FF5D-FF65, U+FFE5, U+0020-003B, U+003D, U+003F-005B, U+005B, U+005F, U+0061-007B, U+007D-007E, U+00A5, U+00AD, U+00D7;
}

@font-face{
  font-family: "ゴシック１";
  src: local("源ノ角ゴシック Regular");
  unicode-range: U+508F, U+5094, U+5096, U+509A, U+509C, U+50B3, U+50C2, U+50CA, U+50CC, U+50D8-50D9, U+50DE, U+50E5-50E6, U+50E9, U+50ED, U+50EF, U+50F0, U+50F4, U+50F9,
     U+5101, U+5108, U+510B, U+5110, U+5115, U+5118, U+511B, U+511E, U+5137, U+513A-513C,U+5140, U+514A,U+515F, U+5162, U+5164, U+5167, U+516E, U+5179, U+5180, U+5189, U+518C, U+5190, U+5195, U+519D, U+51A1-51A2, U+51A9-51AB, U+51B0-51B1, U+51BC-51BE, U+51C3, U+51DE, U+51E9, U+51EC-51EE, U+51F4, U+51FE,
    U+5201-5202, U+520B, U+520E, U+5213-5215, U+5227, U+522E, U+5233, U+5249, U+524B, U+524F, U+5254, U+525D-525E, U+5261, U+5266, U+5269, U+5273-5274, U+527D, U+527F, U+5288, U+528D, U+5291-5293, U+529C, U+52A6, U+52AC-52AD, U+52AF, U+52B5, U+52BC, U+52C0, U+52C8, U+52D0, U+52D7, U+52DB, U+52DE, U+52E0, U+52E3, U+52E6, U+52F0, U+52F3, U+52F5, U+52F8,
    U+5300, U+5307, U+530A-530B, U+530D, U+530F-5310, U+5323-5324, U+532F, U+5331, U+5333, U+533E, U+5345, U+5349, U+534B-534C, U+535E, U+5361, U+536C, U+536E, U+5372, U+5377, U+537B, U+537D, U+5389, U+5393, U+5396, U+53AB, U+53AE, U+53B0, U+53B2, U+53DA, U+53DD, U+53E6, U+53E8, U+53ED, U+53F5,
    U+5401, U+541D, U+5427, U+542E, U+5433, U+5436, U+543C,  U+543F-5440, U+544D, U+5455, U+5466, U+546B, U+54CD, U+5470, U+5474, U+5476, U+548A, U+548D, U+548F, U+5496, U+549C, U+54A1, U+54A9, U+54AD, U+54B9, U+54BF, U+54C6,     U+54E2, U+54E5, U+54FF,
    U+550E, U+552B, U+552E, U+5535, U+5539, U+554A, U+555D-555E, U+5560-5561, U+5563, U+557B, U+5580, U+5586, U+5588, U+558E, U+55A8, U+55C7, U+55E4, U+55F7, U+55FD-55FE,
    U+5608, U+560E-560F, U+5620, U+5637, U+563F, U+5649, U+564B, U+564F, U+5653, U+5636, U+561B, U+564E, U+5650, U+556C, U+5680, U+568A, U+568F, U+5694, U+56A5, U+56AE, U+56BC, U+56C2, U+5666, U+5669, U+566C, U+566F, U+5671-5672,U+5676, U+5695, U+5699-569A, U+56AC-56AD, U+56B1, U+56C0, U+56C8-56CA, U+56CE, U+56D1, U+56D3, U+56D8, U+56DD, U+56E4, U+56EE, U+56F9, U+56FF,
    U+5704, U+5708-570A, U+570D, U+5715-5716, U+571C, 
    U+5B5B, U+5BD0, U+5D11, U+5D19, U+5DBC, 
    U+60E1, U+618A, U+6256, U+652B, U+6874, U+687F, U+6AFB, U+6DC6, U+6E34, U+6EAB, U+6ED3, U+6F74,
    U+701D, U+71DF, U+7228, U+74CA, U+795F, U+7B14, U+7B92, U+7BB4, U+7D06, U+7E0B,
    U+8073, U+8212, U+822B, U+8523, U+85B9, U+8654-8655, U+8852, U+893B, U+8A1B, U+8A48, U+8ACD, U+8B80, U+8FAD, U+8F9C, U+8D16, U+8E93, U+8E4A,
    U+908F, U+90AF, U+9089, U+9132, U+95CA, U+947D, U+9821, U+9AB6;U+9C32, U+9EA5, U+9ED1, U+9F67,
    U+A4B0;
}


@font-face{
  font-family: "コンデンス";
  src: local("07ロゴたいぷゴシックCondense"); 
  unicode-range: U+4E00-4E01, U+4E03, U+4E07-4E0B, U+4E0D-4E0E, U+4E11, U+4E14-4E16, U+4E18-4E19, U+4E1E, U+4E21, U+4E26, U+4E28, U+4E2A, U+4E2D,U+4E32, U+4E36, U+4E38-4E39, U+4E3B-4E3D, U+4E3F, U+4E43, U+4E45, U+4E4B, U+4E4D-4E4F, U+4E56-4E57, U+4E5D-4E5F, U+4E62, U+4E71, U+4E73, U+4E7E,U+4E80, U+4E85-4E86, U+4E88-4E89, U+4E8B-4E8C , U+4E8E, U+4E91-4E92, U+4E94-4E95, U+4E98-4E99, U+4E9B-4E9C, U+4E9E-4EA2, U+4EA4-4EA6, U+4EA8, U+4EAB-4EAE, U+4EB6, U+4EBA, U+4EC0-4EC2, U+4EC6-4EC7, U+4ECA-4ECB, U+4ECF, U+4ED4-4ED9, U+4EDD, U+4EDF, U+4EE3-4EE5, U+4EED-4EEE, U+4EF0, U+4EF2, U+4EF6, U+4EFB,
    U+4F01, U+4F09-4F0A, U+4F0D-4F11, U+4F1A, U+4F1C-4F1D, U+4F2F-4F30, U+4F34, U+4F36, U+4F38,U+4F3A, U+4F3C-4F3D, U+4F43, U+4F46-4F47, U+4F4D-4F52, U+4F53, U+4F55, U+4F57, U+4F59-4F5D, U+4F6F-4F70, U+4F73, U+4F75-4F76, U+4F7B-4F7C, U+4F7F, U+4F83, U+4F86, U+4F8B, U+4F8D, U+4F8D, U+4D8F, U+4F91, U+4F96, U+4F98, U+4F9B, U+4F9D, U+4FA0-4FA1, U+4FAD-4FAF, U+4FB5-4FB6, U+4FBF, U+4FC2-4FC4, U+4FCA, U+4FCE, U+4FD1, U+4FD4, U+4FD7, U+4FDA-4FDB, U+4FDD, U+4FDF, U+4FE1, U+4FE3-4FE5, U+4FEE-4FEF, U+4FF3, U+4FF5-4FF6, U+4FF8, U+4FFA, U+4FFE,
    U+5005-5006, U+5009, U+500B, U+500D, U+5012, U+5014, U+5016, U+5019-501A, U+501F, U+5021, U+5023-5026, U+5028, U+502A-502D, U+5036, U+5039, U+5043, U+5047-5049, U+504F, U+5055, U+505A, U+505C, U+5965, U+5072, U+5074-5076, U+507D-5BCC,
    U+5BD2-644E, U+6458, U+6467-76CD, U+76D7-9FFF, U+3000-301F, U+3021-302F, U+3031-3032, U+303B-30FF, U+FF00-FF9F, U+FFE3-FFE5;
}
